.service {
	height: 250px;
	border: 1px solid brown;
	background-color:#bdbdc9;
}
img{
	width: 100%;
    object-fit: cover;
	height: 550px;
}
nav{
	font-family: "ALK Life", sans-serif;
}
.container{
 font-family: 'Charmonman';
}
.icons{
	font-size:45px;
	color:green;
	padding-left:100px;
}
.icons:hover{
	
	color:blue;
}
.cont{
	padding-left: 250px;
	padding-top: 30px;
}